<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%= title %></title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    You Said: 
    <label id="strSpeechDisplay"></label>
    <input id="textFromSpeech" size="480" />
    <button id="btnStart" onClick="javascript: onPressButton();"><img src="img/buttons-img/Play - Glassy Orange.jpg" width="30" height="30" /></button>
    <label id="lblLabel">Status :&nbsp;</label><label id="lblStatus">Listening...</label>
    <br />




    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <script src="/js/JSONData.js" asp-append-version="true"></script>
    <script src="/js/CommandFunctions.js" asp-append-version="true"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="/js/classIngredients.js" asp-append-version="true"></script>


</body>

</html>